
 
@model SmartTripWebClient.Models.DAL.ListHotels

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste Hotels</title>
</head>
<body>
    
    <div class="row">

        <div class="search-bloc">
            <!-- Input -->
            @using (Html.BeginForm("Search", "Hotel", FormMethod.Post))
            {
            <input type="text" name="query" class="form-control search" placeholder="Rechercher un hotel...">

            <!-- Dropdown -->
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" data-toggle="dropdown">Filtre <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-left" role="menu">
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Option 4</a></li>
                    </ul>

                    <button typeof="submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>

                </div>
            }

        </div>
    </div>
    <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Découvrez nos Hotels en France</h1>
                @if (ViewBag.details != null)
                { 
                     <h3>Recherche: @Html.Raw(ViewBag.details)</h3>
                }
                 
            </div>
        @if (Model != null && Model.Items != null)
        {
            foreach (var hotel in Model.Items)
            {
                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                    <a class="thumbnail" href="#">
                        @if (hotel.T_E_PHOTO_PHO != null){
                        <img class="img-responsive" src="~/Content/@(hotel.T_E_PHOTO_PHO.First().PHO_URL)" alt="">
                        }
                        else
                        {
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">

                        }
                        <span class="stars"><span style="width: @(@hotel.CAT_NBETOILES * 20)%"></span></span>
                    </a>
                </div>
            }
        }

        </div>
</body>
</html>
